@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: 251 246 245;
    --light-rose: 246 236 234;
    --light-pink: 211 160 150;
    --dark-rose: 186 114 100;
    --brown: 142 83 71;
    --dark: 53 30 26;
  }
}

* {
  scroll-behavior: smooth;
}